In [1]:
for i in range(3,7):
    print (i)

3
4
5
6

In [9]:
a=list('jamsher''  ''shihaab')
for i in a :
    print (i)

j
a
m
s
h
e
r


s
h
i
h
a
a
b

In [12]:
num=list(range(1,6))
total=0
for i in num:
    print(i)
    total=total+i
print (total)

1
2
3
4
5
15

In [25]:
num=int(input("nter the num:"))
for i in range(1,11):
    product=num*i
    print(num, "x", i, "=",product)

nter the num:78
78 x 1 = 78
78 x 2 = 156
78 x 3 = 234
78 x 4 = 312
78 x 5 = 390
78 x 6 = 468
78 x 7 = 546
78 x 8 = 624
78 x 9 = 702
78 x 10 = 780

In [33]:
sum=0
for i in range(1,1000):

    sum=sum+i
print(sum)

499501

In [36]:
my_list = [3, 5, 6, 8, 4]  
for iter_var in range( len( my_list ) ):  
    my_list.append(my_list[iter_var] + 3)  
print( my_list )

[3, 5, 6, 8, 4, 6, 8, 9, 11, 7]

In [43]:

for i in range(1,5):
    # nested loop
    # to iterate from 1 to 10
    for j in range(1, 11):
        # print multiplication
        print(i *j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40

In [49]:
row=5
for i in range (1,row+1):
    for j in range(1,i+1):
        print("*",end =" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [53]:
num=int(input("enter the num :"))
count=10
while count>=1:
    product=num*count
    print (num,"x",count ,"=",product)
    count =count-1

enter the num :6
6 x 10 = 60
6 x 9 = 54
6 x 8 = 48
6 x 7 = 42
6 x 6 = 36
6 x 5 = 30
6 x 4 = 24
6 x 3 = 18
6 x 2 = 12
6 x 1 = 6

In [4]:
import time
for sec in range(10,0,-1):
    print (sec)
    time.sleep(2)
print("masha allah")

10
9
8
7
6
5
4
3
2
1
masha allah

In [ ]:
while True:
    name =input("enter ur name")
    if name:="":
        break

enter ur name
enter ur name
enter ur name
enter ur namejm
enter ur namejam